body{
    background-color:#343a40 ;
    color: #ea612c ;
}

.container
{
    max-width: 500px;
    
  }

.col-md-6 {
    
    flex: auto;
    max-width: none;
  }
  .table {
        color: #c5e3ff;
  }
