body{
  background-color: #1b252f9c;
  background-blend-mode: multiply;
  background-image: url('/city.jpg');
  background-repeat: round;
    color: #ea612c ;
}

.container
{
    max-width: 500px;
    
  }

.col-md-6 {
    
    flex: auto;
    max-width: none;
  }
  .table {
        color: #c5e3ff;
  }
