body {
	background-color: #343a40; /* Light gray background */
	color: #343a40; /* Dark text color */
}

.container {
	max-width: 800px; /* Set a maximum width for the container */
	margin-left: auto;
}

h1 {
	color: #ff7b00; /* Bootstrap primary color */
}
h5{color: #ff7b00;}

.card {
	border: 1px solid #556a80; /* Light border color */
	border-radius: 10px; /* Rounded corners */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.918); /* Subtle box shadow */
	transition: box-shadow 0.3s ease-in-out; /* Smooth transition on hover */
	background-color: #776b2ce3;
}

.card:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly larger box shadow on hover */
}

.card-title {
	color: #ecc208da; /* Bootstrap primary color for card titles */
}

.card-text {
	color: #fdfdfdde; /* Dark text color for card content */
}