body {
	
	background-color: #171a1e; 
	font: icon;
	font-size: large;
	font-variant: all-small-caps;
	/* Dark text color
	
	background-blend-mode: multiply;
	background-image: url('/city.jpg');
	background-repeat: round; */
}

.container {
	max-width: 800px; /* Set a maximum width for the container */
	margin-left: auto;
	box-sizing: initial;
}

h1 {
	color: #ff7b00; /* Bootstrap primary color */
}
h5{color: #ff7b00;}

.card {
	border: 1px solid #556a80; /* Light border color */
	border-radius: 10px; /* Rounded corners */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.918); /* Subtle box shadow */
	transition: box-shadow 0.3s ease-in-out; /* Smooth transition on hover */
	background-color: #2452598c;
}

.card:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly larger box shadow on hover */
}
/*cards-text colors*/
.card-text {
	color: #ffffff; /* Dark text color for card content */
}
.table {
        color: #ffffff;
  }
/*************/
.btn-edit{
	background-color: rgb(6, 199, 141);
}
.col-md-6 {
    
    flex: auto;
    max-width: none;
	margin-bottom: 40px;;
  }

  



